[submodule "project/implementation/icherdak_rocksdb"]
	path = project/implementation/icherdak_rocksdb
	url = git@github.com:legendddhgf/rocksdb.git
[submodule "project/doc/bib"]
	path = project/doc/bib
	url = git@bitbucket.org:ssrc/bib.git
